dist: xenial

language: generic

install:
  - sudo apt-get update
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - source "$HOME/miniconda/etc/profile.d/conda.sh"
#  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a

  # Replace dep1 dep2 ... with your dependencies
  # - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION pytest
  - conda config --set channel_priority strict
  - conda env create -q -f environment_cpu_py38_torch15.yml
  - conda activate deepsmlm_cpu

script:
  - pytest deepsmlm/test
