name: Unit Tests

on:
  push:
  pull_request:

jobs:
  unit_test:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.7, 3.8, 3.9, 3.10]

    steps:
      - uses: actions/checkout@v2
      - name: Set Python Version ${{ matrix.python-version }}
        # hacky way to change the python version by temporariliy editing the environment file
        run: |
          sed -i -E 's/(python=)(.*)/\1'${{ matrix.python-version }}'/' ./environment.yaml
          cat environment.yaml | grep python

      - uses: conda-incubator/setup-miniconda@v2
        with:
          # mamba-version: "*"  # does not work reliably atm
          # channels: turagalab/label/dev,turagalab,pytorch,conda-forge,defaults
          channel-priority: strict
          activate-environment: decode_dev
          environment-file: environment.yaml

      - name: Install backport of importlib_resources for Python 3.6
        run: |
          conda install -y importlib_resources
        if: matrix.python-version <= '3.6'

      # Run the specific test
      - name: Run pytest (without big web and graphical output)
        run: |
          pytest -m "not (webbig or plot)" decode/test